<%- include('layout/header'); -%>
<div class="container-fluid">
  <h1 class="text-center">ADMIN MANAGER</h1>
  <hr />
  <div class="row">
    <!-- justify-content-md-center -->
    <div class="col-sm-12 col-md-3">
      <ul class="list-group center">
        <li class="list-group-item active">Options</li>
        <li class="list-group-item">
          <a href="./export-date" class="btn btn-success btn-block">Export Checkin</a>
        </li>
        <li class="list-group-item">
          <a href="./uploadexcel" class="btn btn-info btn-block">Upload excel</a>
        </li>
        <li class="list-group-item">
          <a href="./export" class="btn btn-primary btn-block">Export excel</a>
        </li>
        <li class="list-group-item">
          <a onclick="return confirm('Bạn có chắc chắn là muốn xóa tất cả dữ liệu không ?')" href="./deleteall" class="btn btn-danger btn-block"
            >Delete All</a
          >
        </li>
      </ul>
    </div>
    <div class="col-sm-12 col-md-9">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Mã nhân viên</th>
            <th scope="col">rfid_tag</th>
            <th scope="col">Họ tên</th>
            <th scope="col">Đơn vị</th>
            <th scope="col">Điện thoại</th>
            <th scope="col">Email</th>

            <th scope="col" colspan="2" class="text-center">Action</th>
          </tr>
        </thead>
        <tbody>
          <% var id = 1; %> <% data.forEach((item)=>{ %>
          <tr>
            <th scope="row"><%- id ++%></th>
            <td><%- item.manv %></td>
            <td><%- item.rfid_tag %></td>
            <td><%- item.ho_ten %></td>
            <td><%- item.don_vi %></td>
            <td><%- item.dien_thoai %></td>
            <td><%- item.email %></td>
            <td class="text-center">
              <a href="./edit/<%- item.id %>" class="btn btn-warning text-center">edit</a>
            </td>
            <td class="text-center">
              <a
                onclick="return confirm('Bạn có chắc là muốn xóa <%- item.ho_ten%> không ?')"
                href="./delete/<%- item.id %>"
                class="btn btn-danger text-center"
                >delete</a
              >
            </td>
          </tr>
          <% }) ; %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%- include('layout/footer.ejs'); -%>
